body {
    margin: 0rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.tile {
    outline: 0.063rem solid #44474C;
    width: 1.25rem;
    height: 1.25rem;
}

.active {
    background-color: #496595;
}

.rowContainer {
    display: flex;
}

#board {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
    outline: 0.125rem solid #44474C;
    padding: 0rem;
}

#boardWithColumn {
    display:inline-block;
}

#boardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 4;
    padding: 0.125rem;
}

.input {
    height: 1.25rem;
    width: 1.25rem;
    outline: 0.063rem solid #44474C;
    padding: 0rem;
}

#colInputContainer {
    display: flex;
}

#rowInputContainer {
    display: flex;
    flex-direction: column;
}

.oneColInputContainer {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#header h1 {
    font-size: 3rem;
    font-family: "Orbitron";
    margin: 0rem 1.125rem 0rem 1.125rem;
    color: #496595;
    text-align: center;
}

.ornament img {
    width: 3rem;
    height: 3rem;
}

#solverContainer {
    display: flex;
    margin: 3rem 4.5rem 3rem 4.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

#nonogramSettings {
    display: flex;
    flex-direction: column;
    background-color: #C6D0DE;
    padding: 0.5rem;
    width: 12.5rem;
    height: 7.5rem;
    margin-bottom: 2rem;
}

#settingslabel {
    display: flex;
    justify-content: center;
}

#nonogramSettings h2 {
    margin: 0rem 0rem 1rem 0rem;
    font-family: "Orbitron";
    font-size: 1rem;
}

#nonogramSettings input {
    font-family: "Orbitron";
    border: none;
    width: 7.5rem;
}

#nonogramSettings label {
    font-size: 0.75rem;
    font-family: "Orbitron";
}

.inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;
}

#button {
    border: none;
    padding: 0.375rem;
    background-color: #496595;
    color: #ffffff;
    font-family: "Orbitron";
    font-weight: 400;
}

#button:hover {
    cursor: pointer;
}

#button:focus {
    outline:none;
}

#loader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #496595;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

#loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

#loading p {
    font-family: "Orbitron";
    font-weight: 400;
    font-size: 0.75rem;
    text-align: center;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#feedback {
    margin-bottom: 1rem;
}

#feedback p {
    font-family: "Orbitron";
    font-weight: 400;
    font-size: 0.75rem;
    text-align: center;
}

.solved {
    color: #496595;
}

.fail {
    color: #B23A48;
}

#footer {
    background-color: #496595;
    color: #ffffff;
    font-family: "Orbitron";
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    width: 100%;
    flex: 0 0 3.125rem;
}

#footer a {
    margin-left: 0.375rem;
    text-decoration: none !important;
    color: #ffffff;
}

#footer p {
    font-size: 0.75rem;
    margin: 0.5rem 0rem 0.5rem 0rem;
    text-align: center;
}

#createdBy {
    display: flex;
}